:root {
  --background-color: rgb(14, 1, 1);
  --footer-color: rgb(0,0,0);
  --border-color: rgb(255,255,255,0.1);
}

.under-work {
  text-align: center;
  padding: 20px;
  background-color: rgb(136, 0, 0);
  width: 100%;
  font-size: 60px;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, a, p, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Sequel100, sans-serif;
  font-size: 6.4rem;
  line-height: 88%;
  font-weight: 900;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* Nav */
nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 3);
}

#nav-logo-section {
  justify-content: flex-start;
  font-size: 2.2rem;
}

#nav-link-section {
  gap: 6rem;
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-social-section {
  gap: 3rem
}
/* Nav End */

main {
  flex-grow: 1;
}

main > article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
  height: 100%;
  border: 1px solid var(--border-color);
  display: flex;
}

main > article > .article-description-section,
main > article > .article-nav-section {
  border-left: 1px solid var(--border-color);
}

main > article > .article-title-section,
main > article > .article-nav-section {
  border-top: 1px solid var(--border-color);
}

main > article > .article-title-section {
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

main > article > .article-title-section > h2 {
  flex-basis: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 3rem;
  margin: 0px;
  text-transform: uppercase;
}

main > article > .article-description-section {
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
}

main > article > .article-description-section > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
}

main > article:first-child > .article-image-section {
  background-image: url("./images/IMG_0077-4.jpg");
}

main > article > .article-image-section {
  background-position: center;
  background-size: cover;
}