/* Variables */
:root 
{
  --background-color: rgb(0, 0, 0);
}

.wrapper, footer {
  margin: 0 auto;
}

body
{
  background-color: var(--background-color);
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 400;
}

header {
  display: none;
}

h1 {
  color: RED;
  font-size: xx-large;
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
  height: auto;
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: aqua;
  font-size: xx-large;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}