.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1258px;
}

.u-section-1 .u-shape-1 {
  width: 5261px;
  height: 51px;
  margin: -21px auto 0 -2317px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(255,255,255,0.4);
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  width: 654px;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 29px;
    margin-left: 0;
    width: 340px;
  }
}