.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 290px;
}

.u-section-1 .u-shape-1 {
  width: 3233px;
  height: 41px;
  margin: -32px auto 0 -992px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 32px rgba(255,255,255,0.4);
  animation-duration: 1000ms;
  margin: 65px 384px 0 388px;
}

.u-section-1 .u-shape-2 {
  width: 43px;
  height: 43px;
  animation-duration: 1000ms;
  margin: -34px auto 0 371px;
}

.u-section-1 .u-shape-3 {
  width: 43px;
  height: 48px;
  animation-duration: 1000ms;
  margin: -68px auto 0 726px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  box-shadow: 2px 2px 40px 0 rgba(128,128,128,1);
  margin: 78px 389px 0 auto;
  padding: 9px 46px 9px 45px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: -46px auto 51px 388px;
  padding: 8px 41px 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 296px;
    margin-left: 276px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -21px;
    margin-left: 260px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -87px;
    margin-right: 275px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
    margin-right: 189px;
    margin-left: 372px;
    padding: 22px 63px 22px 62px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 189px;
    margin-left: 372px;
    padding: 22px 63px 22px 61px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 174px;
    margin-left: 178px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 371px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 371px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 371px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 79px;
    margin-left: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 84px;
    margin-left: 88px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -28px;
    margin-left: 11px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -63px;
    margin-right: 0;
    margin-left: 297px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin: 31px auto 60px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 570px;
}

.u-section-2 .u-shape-1 {
  width: 133px;
  height: 133px;
  animation-duration: 1000ms;
  margin: 165px auto 0 437px;
}

.u-section-2 .u-image-1 {
  width: 227px;
  height: 227px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -254px auto 0 457px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 27px rgba(255,255,255,0.55);
  font-size: 4.5rem;
  margin: 80px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 237px;
  min-width: 109px;
  white-space: nowrap;
  margin: 21px auto 60px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: 337px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 174px;
    margin-left: 37px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -263px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-social-icons-1 {
    margin-bottom: 52px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 801px;
}

.u-section-3 .u-shape-1 {
  width: 3098px;
  height: 51px;
  margin: -20px auto 0 -1344px;
}

.u-section-3 .u-shape-2 {
  width: 644px;
  height: 683px;
  margin: 9px auto 0 -46px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -622px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-3 .u-image-1 {
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 40px 20px 106px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 9px 27px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 25px 9px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 161px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-top: -29px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 552px;
    height: 739px;
    margin-top: 14px;
    margin-left: -38px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -673px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 461px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-top: 355px;
  }

  .u-section-3 .u-shape-2 {
    width: 434px;
    height: 460px;
    margin-top: -217px;
    margin-left: -50px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -419px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 30px 0 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 83px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-top: 599px;
  }

  .u-section-3 .u-shape-2 {
    width: 614px;
    height: 651px;
    margin-top: -590px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -597px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 138px 10px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: -1032px;
  }

  .u-section-3 .u-shape-2 {
    height: 351px;
    margin-top: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 281px;
    margin-top: -317px;
    margin-bottom: 37px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 85px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 75px;
    margin-right: auto;
  }
}