.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 236%;
    left: -68%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 374%;
    left: -137%;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 334px;
}

.u-section-2 .u-shape-1 {
  width: 3233px;
  height: 41px;
  margin: -20px auto 60px -992px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
  }
}